*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #222831;
}
header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
max-width: 1200px;
}
.mon ul{
display: flex;
list-style-type: none;
gap: 2rem;
}
.mon a{
    text-decoration: none;
    color: #eeee;
} 
.mon a:hover{
    color: rgb(47, 201, 240);
}
hr{
    opacity: 10%;
}
.hero{
display: flex;
justify-content: space-between;
align-items: center;
margin: 5rem;
max-width: 1200px;
}
.aaa{
    position: absolute;
    transform:translateX(-5.5rem) translateY(1.5rem) ;
}
.hh{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name{
    font-size: 3rem;
    color: ghostwhite;

}
.tital{
    font-size: 4rem;
    color: aqua;
}
.b{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.try{
     background-color: rgb(12, 176, 197);
    color: aliceblue;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0,0.5);
}
.lift{
        background-color:rgba(57, 62, 79,0.75) ;
        color: aliceblue;
        border-radius: 24px;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0,0.5);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        backdrop-filter: blur(4px);
    }
.about{
        display: flex;
justify-content: space-between;
align-items: center;
margin: 5rem;
max-width: 1200px;
gap: 10rem;
}
.con{
    display: flex;
    flex-direction: column;
}
.non{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.yu{
    color: #eeee;
}
.bb{
    color: aqua;
}
.c{
    text-align: justify;
    color: rgba(238, 238, 238,0.75);
}
.works{
   background-image: url(background.svg);
   padding: 10rem 10rem;
   margin: 5rem 0rem;
}
.workscc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px; 
}
.fan{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 5rem;
}
.css{
    color: aliceblue;
}
.ssc{
    color: aqua;
}
.works ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}
.works li{
    border-radius: 16px;
    background-color: rgba(57, 62, 79,0.5);
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}
.works li img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.25;
}
.works li :hover{
    transform: scale(1.5);
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem;
    max-width: 1200px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.cg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5rem;
    gap: 20rem;
}
.cg h3 , .cg a {
    color: #eeee;
    text-decoration: none;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
.div3 img{
    width: 24px;
    height: 24px;
   
}
.footer{
    color: #eeee;
    padding: 2rem;
    text-align: center;
}
